.tito-home-bg1{
    background-color: #FBEBB5;
    height: 700px;
}

.tito-home-bg1 h1{
    margin-left: 10%;
    font-size: 64px;
    font-weight: medium;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.tito-home-btn-shop{
    width: 255px;
    height: 64px;
    
}

.tito-home-bg2{
    background-color: #FAF4F4;
}


.tito-home-bg2-view{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: medium;
    border-bottom: 2px solid black;
    width: 100px;
}

.tito-home-bg2 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: medium;
    color: #000000;
}

.tito-home-bg3-header{
    text-align: center;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: medium;
}

.tito-home-bg3-des{
    text-align: center;
    color: #9F9F9F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: medium;
}

.tito-home-bg4{
    background-color: #FFF9E5;
}

.tito-home-bg4-new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tito-home-btn{
    background-color: #FFFFFF;
    border-radius: 0px;
    width: 255px;
    height: 64px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: medium;
    padding: 10px 20px;
    border: 1px solid #000000;
    cursor: pointer;
}

.tito-home-btn:hover{
    background-color: #000000;
    color: #FFFFFF;
}

.tito-home-bg5{
    background-image: url("../images/ins_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
}

.tito-shop-bg1{
    background-image: url("../images/shop_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 316px;
}

.tito-carousel-img{
    width: 600px;
}
.tito-home-rocket{
    font-size: 40px;
    width: 400px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 70px;
}
.tito-home-rocket1 {
    font-size: 65px;
    width: 400px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 70px;
}




/* Extra Small (xs) */
@media (max-width: 575.98px) {
    /* Styles for xs screens go here */
    .tito-carousel-img{
        width: 150px;
    }
    .tito-home-rocket{
        font-size: 25px;
        width: 200px;
        line-height: 30px;
        margin-bottom: 10px !important;
    }
    .tito-home-rocket1{
        font-size: 35px;
        width: 200px;
        line-height: 30px;
        margin-bottom: 10px !important;
    }
    .tito-home-bg1{
        height: 200px;
    }
    .tito-home-btn-shop{
        width: 100px;
        height: 40px;
    }
    .tito-home-table{
        width: 200px !important;
        height: 200px !important;
    }
    .tito-home-image{
        width: 300px;
        height: 300px;
    }
}
  
  /* Small (sm) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .tito-carousel-img{
        width: 200px;
    }
    .tito-home-rocket{
        font-size: 30px;
    }
    .tito-home-rocket1{
        font-size: 45px;
        width: 300px;
        line-height: 30px;
        margin-bottom: 10px !important;
    }
    .tito-home-bg1{
        height: 300px;
    }
    .tito-home-btn-shop{
        width: 100px;
        height: 40px;
    }
    .tito-home-table{
        width: 300px !important;
        height: 300px !important;
    }
    .tito-home-image{
        width: 300px;
        height: 300px;
    }
}
  
  /* Medium (md) */
@media (min-width: 768px) and (max-width: 991.98px) {
/* Styles for md screens go here */
    .tito-carousel-img{
        width: 400px;
    }
    .tito-home-rocket{
        font-size: 40px;
    }
    .tito-home-rocket1{
        font-size: 55px;
        width: 400px;
        line-height: 30px;
        margin-bottom: 50px !important;
    }
    .tito-home-bg1{
        height: 500px;
    }
    .tito-home-btn-shop{
        width: 150px;
        height: 50px;
    }
    .tito-home-image{
        width: 300px;
        height: 300px;
    }
}
  
  /* Large (lg) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Styles for lg screens go here */
    .tito-carousel-img{
        width: 500px;
    }
    .tito-home-rocket{
        font-size: 50px;
    }
    .tito-home-rocket1{
        font-size: 55px;
        width: 350px;
        line-height: 30px;
        margin-bottom: 60px !important;
    }
    .tito-home-bg1{
        height: 600px;
    }
  }
  
  /* Extra Large (xl) */
  @media (min-width: 1200px) {
    /* Styles for xl screens go here */
    .tito-home-image{
        width: 300px;
        height: 300px;
    }
}
.tito-home-card{
    text-decoration: none;
    color: black;
    /* background-color: yellow; */
    padding: 5px;
    border-bottom: 2px solid black;
}